In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [ ]:
#Series的创建
- 使用list或ndarray创建Seribes
- 使用字典创建Series
Series可以认为是一个一维数组，表示一行(实例或样本)数据集或一列(特征)数据集

In [7]:
#创建10位同学的语文成绩(0,100)，要求索引是学生的编号(10001,10010)
s1 = Series(np.random.randint(100,size=10),
            index=[index for index in range(10001,10011)],name='语文')
s1

10001    16
10002     1
10003    92
10004    68
10005    80
10006    38
10007    50
10008    75
10009    35
10010    73
Name: 语文, dtype: int32

In [5]:
#创建disen，jack，rose三位同学的Python的成绩，使用字典的方式创建Series
s2 = Series({
    'disen':np.random.randint(100),
    'jack': np.random.randint(100),
    'rose': np.random.randint(100),
})
s2

disen    87
jack     98
rose     25
dtype: int64

### Series的索引
- 显示索引
    - s[索引标签]
    - s[[索引标签1，索引标签2，...]]
    - s.loc[索引标签]
    - s.loc[[索引标签1，索引标签2，...]]
- 隐式索引
    - s.iloc[索引标签]
    - s.iloc[[索引标签1，索引标签2，...]]

In [8]:
# 查看 10005和10010的学生的语文成绩

### 索引切片

- s.loc[标签1:标签n]
- s.iloc[下标1:下标n]

In [10]:
s1.loc[10008] = None
s1

10001    16.0
10002     1.0
10003    92.0
10004    68.0
10005    80.0
10006    38.0
10007    50.0
10008     NaN
10009    35.0
10010    73.0
Name: 语文, dtype: float64

In [ ]:
#head(),tail(),pd.isnull(),pd.notnull()

In [11]:
s1[pd.isnull(s1)] #如果索引对应的数值是bool类型，可以作为s[]中的索引序列使用

10008   NaN
Name: 语文, dtype: float64

In [12]:
s1.mul(10,fill_value = 1) # fill_value填充Nan

10001    160.0
10002     10.0
10003    920.0
10004    680.0
10005    800.0
10006    380.0
10007    500.0
10008     10.0
10009    350.0
10010    730.0
Name: 语文, dtype: float64

In [13]:
#练习1：使用多种方法创建以下Series，命名为s： 语文 150 数学 150 英语 150 理综 300
s1 = Series([150,150,150,300],index=['语文','数学','英语','理综'])
s1

语文    150
数学    150
英语    150
理综    300
dtype: int64

In [14]:
s1 = Series({'语文':150,'数学':150,'英语':150,'理综':300})
s1

语文    150
数学    150
英语    150
理综    300
dtype: int64

In [18]:
s2 = s1.copy()
s2

语文    150
数学    150
英语    150
理综    300
dtype: int64