查询学过课程01且又学习课程02的学生信息

select * from sc;
+------+------+-------+
| sn   | cn   | score |
+------+------+-------+
| 01   | 01   |  80.0 |
| 01   | 02   |  90.0 |
| 01   | 03   |  99.0 |
| 02   | 01   |  70.0 |
| 02   | 02   |  60.0 |
| 02   | 03   |  80.0 |
| 03   | 01   |  80.0 |
| 03   | 02   |  80.0 |
| 03   | 03   |  80.0 |
| 04   | 01   |  50.0 |
| 04   | 02   |  30.0 |
| 04   | 03   |  20.0 |
| 05   | 01   |  76.0 |
| 05   | 02   |  87.0 |
| 06   | 01   |  31.0 |
| 06   | 03   |  34.0 |
| 07   | 02   |  89.0 |
| 07   | 03   |  98.0 |
+------+------+-------+

select s.*
from sc a 
join sc b on (a.sn = b.sn)
join student s on (a.sn = s.sn)
where a.cn='01' 
and b.cn='02';

+------+--------+---------------------+------+
| sn   | name   | age                 | sex  |
+------+--------+---------------------+------+
| 01   | 赵雷   | 1990-01-01 00:00:00 | 男   |
| 02   | 钱电   | 1990-12-21 00:00:00 | 男   |
| 03   | 孙风   | 1990-05-20 00:00:00 | 男   |
| 04   | 李云   | 1990-08-06 00:00:00 | 男   |
| 05   | 周梅   | 1991-12-01 00:00:00 | 女   |
+------+--------+---------------------+------+

mysql的if(条件， 为True的结果， 为False的结果)函数的写法

select s.*
from (
    select sn,
           max(if(cn='01', score, 0)) as c1,
           max(if(cn='02', score, 0)) as c2
    from sc
    group by sn) a
join student s on(s.sn = a.sn)
where a.c1>0 and a.c2>0;

+------+--------+---------------------+------+
| sn   | name   | age                 | sex  |
+------+--------+---------------------+------+
| 01   | 赵雷   | 1990-01-01 00:00:00 | 男   |
| 02   | 钱电   | 1990-12-21 00:00:00 | 男   |
| 03   | 孙风   | 1990-05-20 00:00:00 | 男   |
| 04   | 李云   | 1990-08-06 00:00:00 | 男   |
| 05   | 周梅   | 1991-12-01 00:00:00 | 女   |
+------+--------+---------------------+------+

## 查询5月份出生的学生信息

In [ ]:
select * 
from student
where month(age) = 5;